body{
    font-family: 'PT Serif', serif;
    margin: 0px;
    padding: 0px;
}

header{
    background: rgb(128, 109, 128);
    padding: 10px;
    text-align: center;
}

.nav{
    font-family: 'Josefin Sans', sans-serif;
}

header .logo a{
    background-image: url(images/page-icon.png);
    background-size: 180px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 180px;
    position: relative;
    text-indent: -9999999999px;
    width: 180px;
    top: 20px;
}

ul{
    margin-top: 0px;
    padding-top: 0px;
    list-style: none;
    font-family: 'Josefin' , 'Sans';
    font-size: 22px;
}

li{
    color: rgb(219, 243, 243);
    list-style: none;
    display: inline-block;
    margin: 5px 50px 30px 50px;
}
